body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}
.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    margin: auto;
}
.form-field {
    margin-bottom: 10px;
}
label {
    display: block;
    margin-bottom: 5px;
}
input[type="text"],
input[type="file"],
input[type="number"],
select,
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; /* Добавляет padding в общую ширину элемента */
}
input[type="submit"] {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}
input[type="submit"]:hover {
    background-color: #046dde;
}
/* Стиль для textarea */
textarea {
    height: 100px; /* Вы можете настроить высоту по желанию */
    resize: vertical; /* Позволяет пользователю изменять размер поля по вертикали */
}