/* Общие стили для страницы регистрации, соответствующие странице авторизации */
/* Стилизация карточки регистрации */
.card {
    /* margin-top: -80px; */
    background: #fff; /* Фон карточки */
    padding: 20px; /* Отступы внутри карточки */
    border-radius: 8px; /* Скругление углов */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень карточки */
    border: 0; /* Убираем границу */
}

/* Стилизация тела карточки */
.card-body {
    padding: 1rem; /* Отступы внутри тела карточки */
}

/* Стилизация заголовка карточки */
.nth-card-title h4 {
    text-align: center; /* Выравнивание заголовка по центру */
    font-size: 24px; /* Размер шрифта заголовка */
    margin-bottom: 20px; /* Отступ снизу заголовка */
    color: #007bff; /* Цвет заголовка */
    z-index: 16;
}

/* Стилизация формы регистрации */
form {
    background: #fff; /* Фон формы */
    padding: 20px; /* Отступы внутри формы */
    border-radius: 8px; /* Скругление углов формы */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень формы */
    color: #333; /* Цвет текста в форме */
    display: block; /* Заставляет элементы формы отображаться как блочные */
}

/* Стилизация кнопок */
button[type="submit"] {
    border: none; /* Убираем границу */
    outline: none; /* Убираем контур */
    padding: 10px 15px; /* Отступы внутри кнопки */
    border-radius: 5px; /* Скругление углов кнопки */
    cursor: pointer; /* Курсор в виде указателя */
    transition: transform 0.2s ease-in-out; /* Анимация при наведении */
    background-color: #007bff; /* Фон кнопки */
    color: white; /* Цвет текста кнопки */
}

button[type="submit"]:hover {
    transform: translateY(-3px); /* Поднимаем кнопку при наведении */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Тень кнопки при наведении */
}

/* Адаптация под мобильные устройства */
@media (max-width: 768px) {
    form {
        width: 90%; /* Ширина формы */
        margin: auto; /* Автоматические отступы */
    }
}
/* Стилизация элементов формы */
form p {
    display: block; /* Заставляет элементы формы отображаться как блочные */
    margin-bottom: 10px; /* Добавляет отступ снизу для каждого элемента формы */
}

/* Стилизация ввода */
form input, form textarea, form select {
    width: 100%; /* Задает ширину элементов ввода */
    padding: 10px; /* Добавляет внутренние отступы */
    margin-top: 5px; /* Добавляет отступ сверху для элементов ввода */
    border: 1px solid #ccc; /* Добавляет границу вокруг элементов ввода */
    border-radius: 4px; /* Скругляет углы границ */
}

/* Стилизация кнопки */
button.btn {
    width: auto; /* Позволяет кнопке занимать только необходимую ширину */
    padding: 10px 20px; /* Устанавливает внутренние отступы для кнопки */
}

/* Добавьте любые дополнительные стили, которые вы хотите использовать для уникализации вашей страницы регистрации */
