{% extends "base.html" %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'registration/css/user_login.css' %}" >
{% endblock style %}

{% block content %}
<div class="card mb-3 border-0 nth-shadow">
  <div class="card-body">
    <div class="card-title nth-card-title">
      <h4>Сброс пароля</h4>
    </div>
    {% if validlink %}
      <form method="post">{% csrf_token %}
        <div class="form-group">
          <label for="id_new_password1">Новый пароль:</label>
          {{ form.new_password1 }}
          {{ form.new_password1.errors }}
        </div>
        <br>
        <div class="form-group">
          <label for="id_new_password2">Подтвердите пароль:</label>
          {{ form.new_password2 }}
          {{ form.new_password2.errors }}
        </div>
        <br>
        <button type="submit" class="btn btn-dark">Изменить пароль</button>
      </form>
    {% else %}
      <p>Ссылка для сброса пароля недействительна, возможно, она уже была использована. Пожалуйста, запросите новый сброс пароля.</p>
    {% endif %}
  </div>
</div>
{% endblock %}
